.App{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  color: white;
}

.restaurantGrid {
	margin-top: 5rem;
	margin-left: 2rem;
	margin-right: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 3rem 3rem;
	justify-content: right;
}
